<h1>Editar usuário</h1>

<%= render 'form' %>

<%= link_to image_tag('icon_show.png', :size => '30x30'), @user %> 
<% if colaborator? || client? %>
  <%= link_to image_tag('icon_back.png', :size => '30x30'), @user %>
<% else %>
  <%= link_to image_tag('icon_back.png', :size => '30x30'), users_path %>
<% end %>
