<h1>Editar cliente</h1>

<%= render 'form' %>

<%= link_to image_tag('icon_show.png', :size => '30x30', :title => 'Mostrar'), @client %> &nbsp;
<%= link_to image_tag('icon_back.png', :size => '30x30', :title => 'Voltar'), clients_path %>
