<% year = Date.new.year %>
<% month = Date.new.month %>

<% max_cols = 7 %>
<% days_in_month = Date.new(year, month, -1).mday %>
<% current_col = 0 %>

<table><br><br>
  <tr>
    <td>Domingo</td>
    <td>Segunda</td>
    <td>Terça</td>
    <td>Quarta</td>
    <td>Quinta</td>
    <td>Sexta</td>
    <td>Sábado</td>
  </tr>

<tr>

  <% b = 0 %>
  <% while true %>
    <% if i == 0 %>
        
    <% end %>

  <% end %>

</tr>

</table>