<h1>Editando ticket</h1>

<%= render 'form' %>

<% if admin? || colaborator? %>
  <%= link_to "Agendar serviço relacionado", new_event_path(from_ticket: @ticket.id) %>
<% end %>
<%= link_to image_tag('icon_back.png', :size => '30x30'), tickets_path %>
