<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @role.name %>
</p>


<%= link_to image_tag('icon_edit.png', :size => '30x30'), edit_role_path(@role) %> |
<%= link_to image_tag('icon_back.png', :size => '30x30'), roles_path %>
