td {
  &.name {
    width: 70px;
  }
  &.client {
    width: 70px;
  }
  &.module {
    width: 85px;
  }

  &.project {
    width: 135px;
  }

  &.date {
    width: 70px;
  }
  
  &.reason {
    width: 135px;
  }

  &.requestor {
    width: 70px;
  }

  &.image {
    width: 20px;
  }
}