td {
  &.name {
    width: 80px;
  }
  &.client {
    width: 80px;
  }
  &.module {
    width: 105px;
  }

  &.project {
    width: 160px;
  }

  &.date {
    width: 80px;
  }
  
  &.reason {
    width: 135px;
  }

  &.requestor {
    width: 80px;
  }

  &.total_os {
    width: 40px;
  }

  &.image {
    width: 20px;
  }
}