head {
	margin-botton:1.75em; padding-top:1px;
	background-color: #abd
}
body {
  background-color: #e3edf2;
  td {
  padding: 0;
  border: 1px solid #787a6b;
  background: #adb; color:#222;
  text-align: center;
  } 
  }
