.tab_ticket {
  width: 100%;
}

.campo_message {
  height: 60px;
}

.nm_user {
  font-size: 14px;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

.message {
  padding: 0 5px 5px 5px;
}

.dt_mensagem {
  font-size: 10px;
  color: #999;
  padding: 0 5px 5px 5px;
}

.desc_message {
  width: 500px;
}

  td.title_ticket {
    width: 300px;
    padding-left: 5px;
  }
  td.client_ticket {
    width: 150px;
    padding-left: 5px;
  }
  td.colaborator_ticket {
    width: 110px;
    padding-left: 5px;
  } 
  td.status_ticket {
    width: 100px;
    padding-left: 5px;
  }